.header {
  width: 100%;
  padding-bottom: 0;

  &__logo-img {
    width: 5rem;
    margin-right: 0.5rem;
  }

  &__logo-text--green {
    font-size: 2.25rem;
    height: 2.5rem;
  }

  &__menu-items {
    width: 100%;
    height: 100%;

    & a {
      color: $white;
      text-decoration: none;
      transition: color 0.3s ease-in;

      &:hover {
        color: $primary;
      }
    }
  }
}

.hero {
  height: 80vh;

  &__text-main {
    font-size: 3rem;
  }

  &__text-secondary {
    width: 90%;
    letter-spacing: 0.15em;
  }
}

.social {
  &__icon {
    font-size: 3rem;
    transition: all 0.3s ease-in;

    &:hover {
      color: $accent !important;
    }
  }
}

.foto-comunidad {
  background-image: url("../images/foto-comunidad.jpg");
  width: 69%;
  height: 80%;
  background-position: top;
  background-size: cover;
  border-radius: 9px;
}

.chb-button {
  width: 50%;
  background-color: $accent;
  border: $background 3px solid;
  border-radius: 9px;
  padding: 15px 10px;
  font-family: $body-font-family;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $text;
  font-weight: 800;
  font-size: 1.2rem;
  margin-top: 2rem;
  transition: all 0.3s ease-out;
  cursor: pointer;

  &:hover {
    background-color: $background;
    color: $accent;
    border-color: $accent;
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 1;
  background-color: $text;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.mobile-menu-display {
  height: 100vh;
  width: 100vw;
  opacity: 1;
}

.icon {
  width: 3rem;
}

@media (min-width: 62rem) {
  .header {
    &__logo-img {
      width: 6rem;
    }

    &__menu {
      display: flex;
      width: 50%;
    }

    &__menu-items {
      & a {
        color: $text;

        &:hover {
          color: $accent !important;
        }
      }
    }
  }
}
