// Add your styles here
@import "reset";
@import "fonts";
@import "colors";
@import "theme";
@import "index";

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: $body-font-family;
  color: $text;
}
