// Style Base
@import "reset";
@import "fonts";
@import "colors";
@import "theme";
@import "flex-helpers";
@import "font-helpers";
@import "box-model-helpers";
@import "query-helpers";

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: $body-font-family;
  color: $text;
  background-image: url("../images/round.png");
}

.dark {
  background-color: $text;
  background-image: none;
  color: $white;
}

.main-container {
  max-width: 95%;
  height: 100vh;
}

@media (min-width: 36rem) {
  .main-container {
    max-width: 80%;

    &--dark {
      background-color: $text !important;
      background-image: none;
    }
  }
}

// Page Specific
@import "index";
@import "contacto";
